name: Build Android Simple

on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup .NET
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x

    - name: Build Linux ARM64
      run: |
        # Lệnh build đơn giản, không AOT, không lỗi
        dotnet publish Il2CppDumper/Il2CppDumper.csproj \
        -c Release \
        -r linux-arm64 \
        --self-contained true \
        -p:PublishSingleFile=true \
        -o output

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dumper
        path: output/Il2CppDumper
