name: Build ARM64 AOT

on: [push, workflow_dispatch]

jobs:
  build-arm64:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    # 1. Cài đặt QEMU (Bộ giả lập chip điện thoại)
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    # 2. CHẠY BUILD TRONG DOCKER (Dùng Action chuyên dụng)
    - name: Build inside ARM64 Container
      uses: addnab/docker-run-action@v3
      with:
        # Dùng ảnh .NET 9 chính chủ
        image: mcr.microsoft.com/dotnet/sdk:9.0
        # Giả lập hệ điều hành Linux ARM64
        options: --platform linux/arm64 -v ${{ github.workspace }}:/work -w /work/Il2CppDumper
        # Các lệnh chạy bên trong container
        run: |
          echo "--- Cài đặt thư viện C++ ---"
          apt-get update
          apt-get install -y clang zlib1g-dev
          
          echo "--- Bắt đầu Build Native AOT ---"
          dotnet publish -c Release -r linux-arm64 -o /work/output

    # 3. Tải file kết quả về
    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dumper
        path: output/Il2CppDumper
