name: Build Android Dumper
on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup .NET 9
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 9.0.x

    - name: Install Dependencies (Cross-Compiler)
      run: |
        sudo apt-get update
        # Cài đặt bộ biên dịch cho chip ARM64 và thư viện zlib
        sudo apt-get install -y clang zlib1g-dev gcc-aarch64-linux-gnu

    - name: Build & Publish
      # Thêm tham số Linker để chỉ định dùng gcc-aarch64
      run: |
        dotnet publish Il2CppDumper/Il2CppDumper.csproj \
        -c Release \
        -r linux-arm64 \
        -f net9.0 \
        /p:CppCompilerAndLinker=aarch64-linux-gnu-gcc \
        /p:SysRoot=/usr/aarch64-linux-gnu \
        -o output

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dumper-android
        path: output/Il2CppDumper
