name: Build Fixed AOT

on: [push, workflow_dispatch]

jobs:
  build-docker:
    runs-on: ubuntu-latest
    
    steps:
    - name: Checkout Code
      uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Build inside ARM64 Docker
      uses: addnab/docker-run-action@v3
      with:
        image: mcr.microsoft.com/dotnet/sdk:9.0-bookworm-arm64v8
        options: --platform linux/arm64 -v ${{ github.workspace }}:/work -w /work/Il2CppDumper
        run: |
          echo "--- Cài đặt Clang/Zlib ---"
          apt-get update && apt-get install -y clang zlib1g-dev
          
          echo "--- Build Native AOT (Với Linker Args Fix) ---"
          # Lưu ý: Dùng linux-arm64 chuẩn, không dùng bionic nữa
          dotnet publish -c Release -r linux-arm64 -o /work/output

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: dumper
        path: output/Il2CppDumper
